#cd to the directory where requirements.txt is located.
#activate your virtualenv.
#run: pip install -r requirements.txt in your shell

streamlit ==0.88.0  #via streamlit
numpy==1.19.5      #via numpy
pandas==1.2.4     #via pandas

